.adder {
    color: rgb(255, 245, 215);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 21rem;
}

.input {
    outline: none;
    border: none;
    border-top: 1px solid rgb(185, 179, 159);
    padding-top: 0.8rem;
    background-color: black;
    color: rgb(185, 179, 159);
    resize: none;
    hyphens: auto;
}

.new-title {
    font-family: 'NeueMachinaPlain';
    font-size: 2.5rem;
    font-weight: 800;
    width: 17rem;
    height: 17rem;
    text-transform: uppercase;
    align-self: flex-end;
}

.new-title::placeholder {
    line-height: 3rem;
}

.new-body {
    font-family: 'PPCharlevoix';
    font-weight: 800;
    font-size: 1.2rem;
    height: 10rem;
}

.add-btn {
    background-color: black;
    border: none;
    color: rgb(255, 245, 215);
    font-family: 'NeueMachinaPlain';
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 3.2rem;
    width: 7rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;
}

.add-btn:hover {
    border-color: rgb(227, 189, 255);
    color: rgb(227, 189, 255);
}

.add-btn:active {
    transform: scale(0.95);
}