@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

@font-face {
  font-family: 'NeueMachinaPlain';
  src: url('./components/assets/fonts/PPNeueMachina/PPNeueMachina-PlainLight.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'NeueMachinaPlain';
  src: url('./components/assets/fonts/PPNeueMachina/PPNeueMachina-PlainRegular.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'NeueMachinaPlain';
  src: url('./components/assets/fonts/PPNeueMachina/PPNeueMachina-PlainUltrabold.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'PPCharlevoix';
  src: url('./components/assets/fonts/PPCharlevoix/PPCharlevoix-Extralight.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'PPCharlevoix';
  src: url('./components/assets/fonts/PPCharlevoix/PPCharlevoix-Bold.otf') format('opentype');
  font-weight: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 5em;
  display: flex;
  flex-direction: row;
  height: 100vh;
}